main {
    background: #070707;
    background-image: url(hangar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.heroImage {
    height:200px;
    width:175px;
}
